<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>

    <!-- Sección de Contacto -->
    <header>
        <h1>Contacto</h1>
    </header>

    <section class="contacto">
        <p>Correo: ejemplo@correo.com</p>
        <p>Teléfono: 123-456-7890</p>
    </section>

    <!-- Botón de Regreso a la Página Principal -->
    <div class="botones-navegacion">
        <a href="index.html" class="boton">Volver a la Página Principal</a>
    </div>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2025 Mi Página Web. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
