<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>

    <!-- Ancla de inicio -->
    <div id="inicio"></div>

    <!-- Sección de Introducción -->
    <header>
        <h1>Sobre Mí</h1>
    </header>

    <!-- Información sobre ti -->
    <section>
        <p>¡Hola! Soy Danilo Percy Huaylinos Ayzana, un apasionado del desarrollo de sistemas y la tecnología. Me encanta compartir mis experiencias y conectar con otras personas que comparten mi entusiasmo por la programación y la Inteligencia Artificial.</p>
    </section>

    <!-- Sección "Sobre Mí" -->
    <section class="sobremi" id="sobremi">
        <div class="contenido-seccion">
            <h2 class="titulo-seccion">Sobre Mi</h2>
            <h3>Detalles personales</h3>

            <p class="especial">Busco optimizar la gestión y toma de decisiones en las empresas mediante el desarrollo de sistemas de información eficientes y personalizados. Ofrezco servicios de análisis, diseño, implementación y mantenimiento de sistemas de información para mejorar procesos administrativos, operativos y estratégicos. Trabajo con empresas, pymes y organizaciones de diversos sectores, adaptándome a las necesidades específicas de cada cliente. Brindo soluciones tecnológicas que integran innovación, seguridad y escalabilidad. Si necesitas mejorar la gestión de tu información, contáctame.</p>

            <div class="fila">
                <div class="col">
                    <i class="fa-solid fa-user"></i>
                    <span class="titulo detalle">Perfil</span>
                    <p>Mi Nombre es Danilo Percy Huaylinos Ayzana. Tengo 18 años, vivo en Huancayo. Mis deportes favoritos son el fútbol y el baloncesto.</p>
                </div>

                <div class="col">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <span class="titulo detalle">Ubicación</span>
                    <p>Me encuentro ubicado en San Jerónimo, Huancayo, Departamento de Junín, Perú.</p>
                </div>

                <div class="col">
                    <i class="fa-solid fa-flag"></i>
                    <span class="titulo detalle">Intereses</span>
                    <p>Me interesa mucho la tecnología y la Inteligencia Artificial.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="botones-navegacion">
        <a href="index.html" class="boton">Volver a la Página Principal</a>
    </div>
    <!-- Habilidades -->
    <section class="habilidades" id="habilidades">
        <div class="contenido-seccion">
            <h2 class="titulo-seccion">Habilidades</h2>
            
            <div class="fila">
                <div class="col">
                    <span>FIGMA</span>
                    <div class="cont-barra">
                        <div class="barra" id="adobe">
                            <div class="e"></div>
                        </div>
                    </div>
                    <span>99%</span>
                </div>
                <div class="col">
                    <span>Excel</span>
                    <div class="cont-barra">
                        <div class="barra" id="photoshop">
                            <div class="e"></div>
                        </div>
                    </div>
                    <span>95%</span>
                </div>
                <div class="col">
                    <span>CapCut</span>
                    <div class="cont-barra">
                        <div class="barra" id="corel">
                            <div class="e"></div>
                        </div>
                    </div>
                    <span>99%</span>
                </div>
                <div class="col">
                    <span>INGLÉS</span>
                    <div class="cont-barra">
                        <div class="barra" id="ingles">
                            <div class="e"></div>
                        </div>
                    </div>
                    <span>99%</span>
                </div>
                <div class="col">
                    <span>Canvas</span>
                    <div class="cont-barra">
                        <div class="barra" id="photoshop">
                            <div class="e"></div>
                        </div>
                    </div>
                    <span>95%</span>
                </div>
                <div class="col">
                    <span>IA</span>
                    <div class="cont-barra">
                        <div class="barra" id="IA">
                            <div class="e"></div>
                        </div>
                    </div>
                    <span>95%</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Resumen -->
    <section class="resumen" id="
